{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": ["markdown"],
  "rules": {
    "object-curly-newline": "off",
    "no-use-before-define": [
      "error",
      { "functions": false, "classes": true, "variables": false }
    ],
    "operator-linebreak": [
      "error",
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ],
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".md"] } ],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  },
  "globals": {
    "window": "readonly",
    "document": "readonly"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.default.js"
      }
    }
  }
}
