.container {
  height: 100%;
}

.logo {
  display: block;
  height: 64px;
  color: #fff;
  font-size: 14px;
  line-height: 64px;
  text-align: center;

  &.collapsed {
    font-size: 15px;
  }
}

.menu {
  :global(.ant-menu-item):first-child {
    margin-top: 0;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.trigger {
  padding: 0 24px;
  color: #fff;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #40a9ff;
  }
}

.headerRightContainer {
  display: flex;
}

.headerMenuItem {
  padding: 0 12px;
  color: rgba(255, 255, 255, 0.65);
  font-size: 16px;
  line-height: 64px;
  text-decoration: none;
  transition: color 0.3s;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 64px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #1890ff;
  }
}

.content {
  position: relative;
  overflow: hidden scroll;
  background: #fff;
}
